.mainOuterDiv{
    order:1px solid black;
}

.formCss{
    /* border:1px solid black; */
    margin: 10px 0;
}
.formContainer{
    /* padding: 15px; */
    border:1px solid #d3d3d3;
    border-radius: 5px;
}
.headerTop{
    display: block;
    border-bottom: 2px solid #d3d3d3;
    padding: 10px;
    background: #f2f2f2;
}
/* .headerTop span{
    
    font-weight: bold;
    
} */
.ContentTop{
    padding: 10px;
    
}
.field{
    margin-bottom: 5px;
}
.field span{
    padding: 3px 0;
}
.field input{
    padding: 5px;
    border-radius: 4px;
    
}
