html,body{
    width: 100%;
    overflow-x: hidden;
}
.mainContainer{
    margin-top: 70px;
    /* border: 1px solid black; */
    position: relative;
    display: block;
    overflow-x: hidden;
}

.container{
    margin: 0;
    width: 100%;
    float: left;
    /* border:1px solid blue; */
    padding: 10px 10px 10px 0;
    margin-right: 10px;
    overflow-x: hidden;
}